/* Basic Styling */

.containers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;

  
}

/* Columns */
.left-column {
  width: 60%;
  margin-left:10%;
}




.right-column {
  width: 40%;
  margin-top: 60px;
  margin-left: -5%;
  color: #000000;
}

.prod {
  width: 70%;
  position: relative;

}



.product-configuration h4{
  color: #323232;
  margin-bottom: 5%;
}

/* Product Description */
.product-description {
  margin-bottom: 20px;
}
.deskripsi {
  margin-top: 10%;
  margin-left: 4px;
  margin-right: 20%;
}

.deskripsi h5{
  color: #323232;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 4px;
}
.product-description h2 {
  font-weight: 300;
  font-size: 32px;
  color: #282b2e;
}
.product-description h4 {
  margin-left: 2px;
  font-weight: 300;
  font-size: 22px;
  color: #282b2e;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  margin-top: 30%;
  border-radius: 20px;
}

.left-column img.active {
  opacity: 1;
}






/* Product Configuration */
.product-color span,
.cable-config span{
  font-size: 14px;
  font-weight: 400;
  color: #31363b;
  margin-bottom: 10px;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
}


.jumlah-pesan span {
  font-size: 14px;
  font-weight: 400;
  color: #31363b;
  margin-bottom: 10px;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
}



/* Product Color */
.product-color {
  margin-bottom: 10%;
  margin-right: 25%;
  margin-left: 5%;

}

.color-choose div {
  display: inline-block;

}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 0 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #bebebe;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #684304;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(/images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
  
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 5%;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 9px 20px;
  font-size: 14px;
  
  color: #3f464f;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  padding-bottom: 5%;
 
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
  color: #000000;
}



.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 25px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
